<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to GCC-LOGIN</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
          <h1 class="display-4">Welcome to GCC-LOGIN</h1>
          <p class="lead">You're now logged-in</p>
          <hr class="my-4">
          <p>User Information</p>
            <ul>
            <h4><li>Username: <strong>{{user.username}}</strong></li></h4>
            {% if user.first_name %}
            <h4><li>Firstname: <strong>{{user.first_name}}</strong></li></h4>
            {% endif %}

            {% if user.last_name %}
            <h4><li>Lastname: <strong>{{user.last_name}}</strong></li></h4>
            {% endif %}


            {% if user.email %}
            <h4><li>Email: <strong>{{user.email}}</strong></li></h4>
            {% endif %}
        </ul>
          <p class="lead">
            <a class="btn btn-danger btn-lg" href="../logout" role="button">Log Out</a>
          </p>
        </div>
    </div>
</body>
</html>